<!-- About us -->
    <section class="about_us">
        <div class="about_container">
        <div class="about_title_box">
            <h3 class="small_title">What we do</h3>
            <h1 class="about_title title">story about us</h1>
            <p class="about_text text_after">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="about_gallery">
            <figure class="about_gallery_item">
                <img src="images/about/pic 1.png" alt="">
                <div class="block">
                    <a class="block_text" href="">Super Team</a>
                </div>
            </figure>
            <figure class="about_gallery_item">
                <img src="images/about/pic 2.png" alt="">
                <div class="block">
                    <a class="block_text" href="">Who we are</a>
                </div>
            </figure>
            <figure class="about_gallery_item">
                <img src="images/about/pic 3.png" alt="">
                <div class="block">
                    <a class="block_text" href="">Our Goals</a>
                </div>
            </figure>
        </div>
         </div>
        <footer class="about_footer">
            <div class="about_footer_item">
                <span class="about_footer_number">42</span>
                <br>
                <p class="about_footer_text">Web Design Projects</p>
            </div>
            <div class="about_footer_item">
                <span class="about_footer_number">123</span>
                <br>
                <p class="about_footer_text">happy clients</p>
            </div>
            <div class="about_footer_item">
                <span class="about_footer_number">15</span>
                <br>
                <p class="about_footer_text">award winner</p>
            </div>
            <div class="about_footer_item">
                <span class="about_footer_number">99</span>
                <br>
                <p class="about_footer_text">cup of coffee</p>
            </div>
            <div class="about_footer_item">
                <span class="about_footer_number">24</span>
                <br>
                <p class="about_footer_text">members</p>
            </div>
        </footer>
    </section>