<!-- Amazing services -->
    <section class="container services_container">
        <div class="services_title_box">
            <h3 class="small_title">We work with</h3>
            <h1 class="services_title">Amazing services</h1>
        </div>
        <div class="service_list">
            <div class="row_one">
                <div class="service_list_item">
                    <img class="service_list_pic" src="images/services/alarm1.png" alt="">
                    <h3 class="service_list_item_title">photography</h3>
                    <p class="service_list_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="service_list_item">
                    <img class="service_list_pic" src="images/services/2.png" alt="">
                    <h3 class="service_list_item_title">web design</h3>
                    <p class="service_list_item_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="service_list_item">
                    <img class="service_list_pic" src="images/services/3.png" alt="">
                    <h3 class="service_list_item_title">creativity</h3>
                    <p class="service_list_item_text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="service_list_item">
                <img class="service_list_pic" src="images/services/book-24.png" alt="">
                <h3 class="service_list_item_title">SEO</h3>
                <p class="service_list_item_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="service_list_item">
                <img class="service_list_pic" src="images/services/home5.png" alt="">
                <h3 class="service_list_item_title">Css/Html</h3>
                <p class="service_list_item_text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
            </div>
            <div class="service_list_item">
                <img class="service_list_pic" src="images/services/6.png" alt="">
                <h3 class="service_list_item_title">digital</h3>
                <p class="service_list_item_text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>
    </section>