<!--   footer -->
    <footer class="main_footer">
        <div class="container">
            <div class="map">
                <div class="map_overlay">
                    <a href="" class="map_title">open map</a>
                </div>
            </div>
            <div class="contacts_block">
                <div class="contacts">
                    <div class="contacts_info">
                        <h1 class="contacts_title">MoGo</h1>
                        <p class="contacts_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="social_media">
                            <div class="follower_number"><span class="number_bold">15k </span>followers</div>
                            <div class="social_media_list">
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/facebook.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/twitter.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/instagram.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/pinterest.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/google-plus.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/youtube.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/dribbble.png" alt="">
                                </a>
                                </div>
                                <div class="social_media_list_item">
                                    <a class="social_media_link" href="">
                                    <img class="social_media_pic" src="images/footer/icons/tumblr.png" alt="">
                                </a>
                                </div>
                            </div>
                            <form class="subscribe">
                                <input class="subscribe_line" type="email" placeholder="Your Email...">
                                <button class="subscribe_button">subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="footer_blogs">
                        <h1 class="footer_blogs_title">blogs</h1>
                        <div class="footer_blogs_list">
                            <div class="footer_blogs_list_item">
                                <img class="blogs_list_pic" src="images/footer/blogs/1.png" alt="">
                                <div class="blogs_list_item_block">
                                    <a class="blogs_list_item_link" href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                                    <p class="blogs_list_item_text">Jan 9, 2016</p>
                                </div>
                            </div>
                            <div class="footer_blogs_list_item">
                                <img class="blogs_list_pic" src="images/footer/blogs/2.png" alt="">
                                <div class="blogs_list_item_block">
                                    <a class="blogs_list_item_link" href="">Consectetur adipiscing elit, sed do eiusmod tempor</a>
                                    <p class="blogs_list_item_text">Jan 9, 2016</p>
                                </div>
                            </div>
                            <div class="footer_blogs_list_item">
                                <img class="blogs_list_pic" src="images/footer/blogs/3.png" alt="">
                                <div class="blogs_list_item_block">
                                    <a class="blogs_list_item_link" href="">sed do eiusmod tempor incididunt ut labore</a>
                                    <p class="blogs_list_item_text">Jan 9, 2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_instagram">
                        <h1 class="footer_instagram_title">instagram</h1>
                        <div class="gallery_instagram">
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/1.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/2.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/3.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/4.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/5.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/6.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/7.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/8.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="gallery_instagram_item">
                                <img src="images/footer/instagram/9.png" alt="" class="instagram_item_pic">
                            </div>
                            <div class="more_photos">
                                <a class="more" href="">View more photos</a></div>
                        </div>
                    </div>
                </div>
                <div class="copyrights">2016 MoGo free PSD template by <a class="creators_name" href="">Laaqiq</a></div>
            </div>
    </footer>
        </div>