<div class="wrap">
        <!-- header -->
        <header class="main__header">
             <ul class="body_slides">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            </ul>
            <div class="container header_container">
                <div class="top_navigation_bar">
                    <div class="header_logo">
                        <a class="logo_button" href="">MoGo</a>
                    </div>
             <input type="checkbox" class="menu-checkbox" id="menu">
            <nav class="top_navigation">
                <a class="top_nav_item" href="">About</a>
                <a class="top_nav_item" href="">Service</a>
                <a class="top_nav_item" href="">Work</a>
                <a class="top_nav_item" href="">Blog</a>
                <a class="top_nav_item" href="">Contact</a>
                <a class="top_nav_item" href=""> 
                    <img class="navigation_item" src="images/header/shopping-cart.png" alt=""></a>
                <a class="top_nav_item" href="">
                    <img class="navigation_item" src="images/header/magnifying-glass.png" alt=""></a>
            </nav>
            <label for="menu" class="menu-button">
                        <div class="btn"></div>
                        <div class="btn"></div>
                        <div class="btn"></div>
                    </label>
            </div>
            <div class="header_title_box">
                <h3 class="small_header_title">Creative Template</h3>
                <h1 class="header_title">Welcome <br> to Mogo</h1>
                </div>
                <button class="button_learn_about" type="button">Learn about</button>
            <div class="bottom_sliders">
                <div class="header_parts"><span class="slider_header_bold">01</span> Into
                </div>
                <div class="header_parts"><span class="slider_header_bold">02</span> Work
                </div>
                <div class="header_parts"><span class="slider_header_bold">03</span> About 
                </div>
                <div class="header_parts"><span class="slider_header_bold">04</span> Contacts
                </div>
            </div>
    </div>
    </header>