<!-- latest blog -->
    <section class="latest_blog">
    <div class="container">
        <div class="blog_title_box">
            <h3 class="small_title">Our stories</h3>
            <h1 class="blog_title">latest blog</h1>
        </div>
        <div class="blog_list">
            <a href="" class="blog_list_item">
                <figure class="post_photo">
                    <img class="blog_photo" src="images/latest_blog/1.png" alt="">
                    <div class="post_date"><span class="blog_date_bold">15</span>
                        <br>Jan</div>
                </figure>
                <div class="blog_text_block">
                    <h2 class="blog_item_title">Lorem ipsum dolor sit amet</h2>
                    <p class="blog_item_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <div class="blog_rating">
                        <p class="blog_rating_item blog_views">542</p>
                        <p class="blog_rating_item blog_comments">17</p>
                    </div>
                </div>
            </a>
            <a href="" class="blog_list_item">
                <figure class="post_photo">
                    <img class="blog_photo" src="images/latest_blog/2.png" alt="">
                    <div class="post_date"><span class="blog_date_bold">14</span>
                        <br>Jan</div>
                </figure>
                <div class="blog_text_block">
                    <h2 class="blog_item_title">sed do eiusmod tempor</h2>
                    <p class="blog_item_text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna labore.</p>
                    <div class="blog_rating">
                        <p class="blog_rating_item blog_views">992</p>
                        <p class="blog_rating_item blog_comments">42</p>
                    </div>
                </div>
            </a>
            <a href="" class="blog_list_item">
                <figure class="post_photo">
                    <img class="blog_photo" src="images/latest_blog/3.png" alt="">
                    <div class="post_date"><span class="blog_date_bold">12</span>
                        <br>Jan</div>
                </figure>
                <div class="blog_text_block">
                    <h2 class="blog_item_title">incididunt ut labore et dolore</h2>
                    <p class="blog_item_text">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore.</p>
                    <div class="blog_rating">
                        <div class="blog_rating_item blog_views">1560</div>
                        <div class="blog_rating_item blog_comments">98</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </section>
