 <!-- meet our team -->

    <section class="meet_our_team">
        <div class="container">
        <div class="our_team_title_box">
            <h3 class="small_title">who we are</h3>
            <h1 class="our_team_title">Meet our team</h1>
            <p class="our_team_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="team_gallery">
            <figure class="team_gallery_item">
                <img src="images/team/1-2.png" alt="">
                <div class="block_list">
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/facebook.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/twitter.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                            <img class="bloc_pic" src="images/team/pinterest.png" alt="">
                        </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/instagram.png" alt="">
                    </a>
                    </div>
                </div>
                <figcaption class="team_name"><span class="bold_name">Matthew Dix</span>
                    <br>Graphic Design</figcaption>
            </figure>
            <figure class="team_gallery_item">
                <img src="images/team/layer-19.png" alt="">
                <div class="block_list">
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/facebook.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/twitter.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                            <img class="bloc_pic" src="images/team/pinterest.png" alt="">
                        </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/instagram.png" alt="">
                    </a>
                    </div>
                </div>
                <figcaption class="team_name"><span class="bold_name">Christopher Campbell</span>
                    <br>Branding/UX design</figcaption>
            </figure>
            <figure class="team_gallery_item">
                <img src="images/team/layer-18.png" alt="">
                <div class="block_list">
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/facebook.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/twitter.png" alt="">
                    </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                            <img class="bloc_pic" src="images/team/pinterest.png" alt="">
                        </a>
                    </div>
                    <div class="block_list_item">
                        <a href="">
                        <img class="bloc_pic" src="images/team/instagram.png" alt="">
                    </a>
                    </div>
                </div>
                <figcaption class="team_name"><span class="bold_name">Michael Fertig </span>
                    <br>Developer</figcaption>
            </figure>
        </div>
        <footer class="trade_marks">
            <div class="company_list">
                <img class="company_pic" src="images/team/layer-25.png" alt="">
            </div>
        </footer>
        </div>
    </section>