<!-- What we do -->
<section class="what_we_do">
    <div class="what_do_container">
        <div class="what_do_title_box">
            <h3 class="small_title">Service</h3>
            <h1 class="what_do_title">What we do</h1>
            <p class="what_do_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="activities">
            <div class="acivity_pic">
                <img src="images/what_we_do/main_pic.png" alt="">
            </div>
            <section class="ac-container">
                <div>
                    <input id="ac-1" name="accordion-1" type="checkbox" checked />
                    <label class="ac-container_item photo" for="ac-1">Photography</label>
                    <article>
                        <p class="ac-container_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
                    </article>
                </div>
                <div>
                    <input id="ac-2" name="accordion-1" type="checkbox" />
                    <label class="ac-container_item creativity" for="ac-2">Creativity</label>
                    <article>
                        <p class="ac-container_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
                    </article>
                </div>
                <div>
                    <input id="ac-3" name="accordion-1" type="checkbox" />
                    <label class="ac-container_item web-design" for="ac-3">web design</label>
                    <article>
                        <p class="ac-container_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
                    </article>
                </div>
            </section>
        </div>
        <footer class="what_do_footer">
            <div class="citation">
                <div class="citation_block">
                    <img class="citation_pic" src="images/what_we_do/citation.png">
                    <p class="citation_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                    <p class="signature">Jon Doe</p>
                </div>
                <div class="citation_block">
                    <img class="citation_pic" src="images/what_we_do/citation.png">
                    <p class="citation_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                    <p class="signature">Jon Doe</p>
                </div>
            </div>
    </footer>
    </div>
</section>