<!--  what people say -->
    <section class="people_say">
        <div container class="overlay_bg_people">
            <div class="people_say_title_box">
                <h3 class="small_title">happy clients</h3>
                <h1 class="people_say_title">what people say</h1>
            </div>
            <div class="feedback_list">
                <div class="feedback_list_item">
                    <h4 class="client_name"><span class="client_name_bold">Matthew Dix</span><br>Graphic Design</h4>
                    <img class="client_photo" src="/images/people_say/1.png" alt="">
                    <p class="client_feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                </div>
                <div class="feedback_list_item">
                    <h4 class="client_name"><span class="client_name_bold">Nick Karvounis</span><br>Graphic Design</h4>
                    <img class="client_photo" src="/images/people_say/2.png" alt="">
                    <p class="client_feedback">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="feedback_list_item">
                    <h4 class="client_name"><span class="client_name_bold">Jaelynn Castillo</span><br>Graphic Design</h4>
                    <img class="client_photo" src="/images/people_say/3.png" alt="">
                    <p class="client_feedback">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="feedback_list_item">
                    <h4 class="client_name"><span class="client_name_bold">Mike Petrucci</span><br>Graphic Design</h4>
                    <img class="client_photo" src="/images/people_say/4.png" alt="">
                    <p class="client_feedback">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                </div>
            </div>
        </div>
</section>