<!-- our works -->
    <section class="our_works">
        <div class="container">
        <div class="works_title_box">
            <h3 class="small_title">what we do</h3>
            <h1 class="works_title">Some of our works</h1>
            <p class="works_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="work_gallery">
            <div class="column_one">
                <figure class="work_gallery_item">
                    <img src="images/works/1.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
                <figure class="work_gallery_item">
                    <img src="images/works/3.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
            </div>
            <div class="column_two">
                <figure class="work_gallery_item">
                    <img src="images/works/2.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
                <figure class="work_gallery_item bottom_pic">
                    <img src="images/works/4.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
            </div>
            <div class="column_three">
                <figure class="work_gallery_item long_pic">
                    <img src="images/works/5.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
            </div>
            <div class="column_four">
                <figure class="work_gallery_item">
                    <img src="images/works/6.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
                <figure class="work_gallery_item">
                    <img src="images/works/7.png" alt="">
                    <div class="block_work_gallery_item">
                        <a class="block_work_gallery_text" href=""><span class="block_text_bold">creatively designed</span><br>Lorem ipsum dolor sit</a>
                    </div>
                </figure>
            </div>
        </div>
        <footer class="work_footer">
            <div class="feedback">
                <div class="feedback_item">
                <img class="feedback_pic" src="images/works/feedback_photo.png" alt="">
                <p class="work_citation">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                <p class="signature_work">Joshua Earle</p>
                </div>
                <div class="feedback_item">
                <img class="feedback_pic" src="images/works/feedback_photo.png" alt="">
                <p class="work_citation">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                <p class="signature_work">Joshua Earle</p>
                </div>
            </div>
        </footer>
        </div>
    </section>